<footer class="footer">  
    <div class="footer__top">
      <div class="container footer__container footer__container--top">
        <a href="/" class="footer__logo-link">
          <img class="footer__logo" src="../img/logo.png" width="63" height="52" alt="лого">
        </a>

        <div class="footer__nav-wrap">
          <nav class="footer-nav">
            <ul class="list-reset footer-nav__list">
              <li class="footer-nav__item">
                <a href="#why-us" class="footer-nav__link">Почему мы?</a>
              </li>
              <li class="footer-nav__item">
                <a href="#hotel-rooms" class="footer-nav__link">Номера</a>
              </li>
              <li class="footer-nav__item">
                <a href="#reviews" class="footer-nav__link">Отзывы</a>
              </li>
              <li class="footer-nav__item">
                <a href="#find-us" class="footer-nav__link">Как нас найти</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container footer__container footer__container--bottom">
        <p class="footer__all-rights-reserved">@ 2019 Все права защищены</p>
        <a class="footer__privacy-policy" href="#">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
