<header class="header">
  <div class="container header__container">
    <a href="/" class="header__logo-link">
      <img class="header__logo" src="../img/logo.png" width="63" height="52" alt="лого">
    </a>

    <button class="btn-reset main-nav-toggle burger" type="button" aria-label="Открыть меню">
      <span class="burger__line"></span>
    </button>

    <div class="main-nav main-nav--closed">
      <nav class="nav header__nav" title="Главное меню">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Почему мы?</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Номера</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Отзывы</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Как нас найти</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

