<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <h3 class="reviews__title">Отзывы</h3>

    <div class="reviews__slider reviews-slider">
      <div class="reviews-slider__wrapper">
        <div class="reviews-slider__list">

          <div class="reviews-slider__item reviews-slide">
            <div class="reviews-slide__wrap">
              <p class="reviews-slide__text">
                Первый раз пришлось оставить нашего котика
                в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца,
                рассказывала, как он себя чувствует.
                И мы и котик остались очень довольны!
              </p>
              <div class="reviews-slide__data">
                <span class="reviews-slide__name">Валерия Гришаева</span>
                <span class="reviews-slide__date">15 ноября, 2019</span>
              </div>
            </div>
          </div>

          <div class="reviews-slider__item reviews-slide">
            <div class="reviews-slide__wrap">
              <p class="reviews-slide__text">
                Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда уезжают. В
                “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться
                еще.
              </p>
              <div class="reviews-slide__data">
                <span class="reviews-slide__name">Екатерина Минаева</span>
                <span class="reviews-slide__date">10 октября, 2019</span>
              </div>
            </div>
          </div>

          <div class="reviews-slider__item reviews-slide">
            <div class="reviews-slide__wrap">
              <p class="reviews-slide__text">
                Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к уходу за ним, и
                “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень
                удобно.
              </p>
              <div class="reviews-slide__data">
                <span class="reviews-slide__name">Павел Нечаев</span>
                <span class="reviews-slide__date">2 августа, 2019</span>
              </div>
            </div>
          </div>
        </div>

        <div class="reviews-slider__controls">
          <div class="reviews-slider__dots">
            <span class="reviews-slider__dot reviews-slider__dot--active"></span>
            <span class="reviews-slider__dot"></span>
            <span class="reviews-slider__dot"></span>
          </div>
          <div class="reviews-slider__buttons">
            <button class="btn-reset reviews-slider__button reviews-slider__button--prev" type="button"></button>
            <button class="btn-reset reviews-slider__button reviews-slider__button--next" type="button"></button>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>