<section class="why-us">
  <div class="container why-us__container">
    <h3 class="why-us__heading">Почему мы?</h3>
    <div class="why-us__features">
      <ul class="list-reset why-us__features-list">
        <li class="why-us__features-item features-card">
          <div class="features-card__icon-block features-card__icon-block--one">            
          </div>
          <h4 class="features-card__heading">Комфортная температура</h4>
          <p class="features-card__text">
            Во всех номерах поддерживается комфортная температура в пределах
            23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.
          </p>
        </li>
        <li class="why-us__features-item features-card">
          <div class="features-card__icon-block features-card__icon-block--two">            
          </div>
          <h4 class="features-card__heading">Видеонаблюдение</h4>
          <p class="features-card__text">
            Мы предоставляем доступ в нашу систему. Вы сможете следить
            за своим питомцем со своего смартфона или компьютера.
          </p>
        </li>
        <li class="why-us__features-item features-card">
          <div class="features-card__icon-block features-card__icon-block--three">            
          </div>
          <h4 class="features-card__heading">Услуги Зоотакси</h4>
          <p class="features-card__text">
            Мы приедем за вашим питомцем в любой район Санкт-Петербурга.
          </p>
        </li>
        <li class="why-us__features-item features-card">
          <div class="features-card__icon-block features-card__icon-block--four">            
          </div>
          <h4 class="features-card__heading">Сбалансированное питание</h4>
          <p class="features-card__text">
            Вы можете привезти свой корм или доверить рацион своего
            питомца нашим профессионалам.
          </p>
        </li>

        <li class="why-us__features-item features-card">
          <div class="features-card__icon-block features-card__icon-block--five">            
          </div>
          <h4 class="features-card__heading">Ежедневные прогулки</h4>
          <p class="features-card__text">
            По вашему желанию мы выгуливаем вашего питомца два раза в день
            на специализированной закрытой территории.
          </p>
        </li>

        <li class="why-us__features-item features-card">
          <div class="features-card__icon-block features-card__icon-block--six">            
          </div>
          <h4 class="features-card__heading">Лучшие ветеринары</h4>
          <p class="features-card__text">
            В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.
          </p>
        </li>

      </ul>
    </div>
  </div>
</section>